:root {
  // Colors
  --white: #f0f1f2;
  --black: #222326;
  --accent: #732c32;
}

// Breakpoints
$layout-breakpoint-large: 1920px;
$layout-breakpoint-medium: 1440px;
$layout-breakpoint-small: 960px;
$layout-breakpoint-xsmall: 480px;
