*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  color: #202026;
}

h1,
h2,
h3,
h4 {
  font-family: "Playfair Display", serif;
  font-size: 1.8em;
}

body {
  overflow-x: hidden;
}